body{
    background:white;
    padding:30px;
    border-radius:10px;
    box-shadow:0 2px 8px rgba(0,0,0,0.1);
    width:450px;
}

input,
textarea,
select{
    width:100%;
    padding:12px;
    margin-top:8px;
    margin-bottom:15px;
    border:1px solid #ccc;
    border-radius:5px;
    font-size:15px;
}

button{
    background:#2e7d32;
    color:white;
    border:none;
    padding:12px 20px;
    border-radius:5px;
    cursor:pointer;
    font-size:16px;
}

button:hover{
    background:#1b5e20;
}

.dashboard-box{
    display:flex;
    gap:20px;
    flex-wrap:wrap;
}

.dashboard-item{
    background:white;
    padding:25px;
    width:250px;
    border-radius:10px;
    box-shadow:0 2px 8px rgba(0,0,0,0.1);
    text-align:center;
}

.dashboard-item h3{
    color:#0d47a1;
}

.assignment-box{
    background:white;
    padding:20px;
    margin-bottom:20px;
    border-left:6px solid #1565c0;
    border-radius:8px;
    box-shadow:0 2px 8px rgba(0,0,0,0.1);
}